
@media screen and (max-width: 768px) { 

    .card {
    display: grid;
    grid-template: repeat(2, 2fr) / 350px 1fr;
    }
}
   


@media screen and (max-width: 375px) {
    .card {
        display: grid;
        grid-template: repeat(1, 500px) / 350px;
    }
}

.card
{
    display: inline-block;
    margin: 20px;
    width: 300px;
    height: 450px;
    border: 1px gray solid ;
    border-radius: 15px;
    background-color: rgb(145, 144, 144);
    
}


h3 {
    padding: 0px;
    padding-left: 40px;

}

.data {
    padding-left: 40px;
    margin-bottom: 5px;

}

.insta {
    max-width: 30px;
    margin-left: 10px;
    padding: 5px;
    
}

.insta-1 {
    max-width: 30px;
    margin-left: 5px;
    
}

p {
    color: white;
    margin-bottom: 0px;
}

.immagine {
    
    max-width: 100%;
   
}

span {
    font-weight: bold;
    color: black;
}